html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
}

/* Convertimos body en un flex vertical */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* asegura que ocupe toda la ventana */
  box-sizing: border-box;
  margin: 0;
}

/* Contenedor principal de tu contenido */
.main-content {
  flex: 1; /* ocupa todo el espacio disponible y empuja el footer hacia abajo */
}
